<section class="block container">
  <header class="block__header">
    <h2>Host on the Cloud to keep Growing</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, maxime?
    </p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni odio ab
        pariatur impedit, illum cum tenetur corrupti ducimus fugiat enim!
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <img class="feature__image" src="images/easy.jpg" alt="" />
    </picture>
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#clock"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Simply Fast Websites</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni odio ab
        pariatur impedit, illum cum tenetur corrupti ducimus fugiat enim!
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <img class="feature__image" src="images/fast.jpg" alt="" />
    </picture>
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#wordpress"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Wordpress Made Easy</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni odio ab
        pariatur impedit, illum cum tenetur corrupti ducimus fugiat enim!
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <img class="feature__image" src="images/wordpress.jpg" alt="" />
    </picture>
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#growth"></use>
        </svg>
      </span>
      <h3 class="feature__heading">24/7 Expert Suport</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni odio ab
        pariatur impedit, illum cum tenetur corrupti ducimus fugiat enim!
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <img class="feature__image" src="images/support.jpg" alt="" />
    </picture>
  </article>
</section>
